In [1]:
import pandas as pd
import numpy as np

In [2]:
companies = ["Pearson", "AI Books"]
companies

['Pearson', 'AI Books']

In [3]:
bookstores = [
    "London",
    "Manchester",
    "Birmingham",
    "Leeds",
    "Liverpool",
    "Oxford",
    "Cambridge",
    "Bristol",
    "Brighton",
    "Nottingham"
]

In [4]:
customers = [
    "Students",
    "Professionals",
    "Researchers",
    "General Readers",
    "Tech Enthusiasts"
]

age_groups = [
    "16-24",
    "25-34",
    "35-44",
    "45-54",
    "55+"
]

In [5]:
logic = {

    "Pearson": {
        "price": 45,
        "profit_margin": 0.13
    },

    "AI Books": {
        "price": 25,
        "profit_margin": 0.22
    }
}

In [6]:
data = []

for store in bookstores:
    
    for company in companies:
        
        weekly_customers = np.random.randint(500, 3000)
        
        price = logic[company]["price"]
        margin = logic[company]["profit_margin"]
        
        weekly_sales = weekly_customers * np.random.uniform(0.4, 0.7)
        
        weekly_revenue = weekly_sales * price
        weekly_profit = weekly_revenue * margin
        
        yearly_revenue = weekly_revenue * 52
        yearly_profit = weekly_profit * 52
        
        customer_type = np.random.choice(customers)
        age = np.random.choice(age_groups)
        
        data.append([
            store,
            company,
            customer_type,
            age,
            int(weekly_customers),
            int(weekly_sales),
            weekly_revenue,
            weekly_profit,
            yearly_revenue,
            yearly_profit
        ])

In [7]:
columns = [
    "Store",
    "Company",
    "Customer_Type",
    "Age_Group",
    "Weekly_Customers",
    "Weekly_Sales",
    "Weekly_Revenue",
    "Weekly_Profit",
    "Yearly_Revenue",
    "Yearly_Profit"
]

df = pd.DataFrame(data, columns=columns)

df

,Store,Company,Customer_Type,Age_Group,Weekly_Customers,Weekly_Sales,Weekly_Revenue,Weekly_Profit,Yearly_Revenue,Yearly_Profit
0,London,Pearson,Tech Enthusiasts,16-24,861,566,25505.412057,3315.703567,1.326281e+06,172416.585506
1,London,AI Books,Students,16-24,2712,1741,43532.926489,9577.243828,2.263712e+06,498016.679039
2,Manchester,Pearson,Researchers,16-24,1508,615,27718.907717,3603.458003,1.441383e+06,187379.816170
3,Manchester,AI Books,Students,55+,2112,899,22486.080888,4946.937795,1.169276e+06,257240.765360
4,Birmingham,Pearson,Tech Enthusiasts,25-34,2693,1253,56416.479387,7334.142320,2.933657e+06,381375.400659
5,Birmingham,AI Books,Students,35-44,1906,960,24007.321312,5281.610689,1.248381e+06,274643.755812
6,Leeds,Pearson,General Readers,55+,1082,545,24555.227439,3192.179567,1.276872e+06,165993.337491
7,Leeds,AI Books,Researchers,25-34,1218,760,19016.089165,4183.539616,9.888366e+05,217544.060045
8,Liverpool,Pearson,Professionals,55+,1924,1041,46849.118914,6090.385459,2.436154e+06,316700.043860
9,Liverpool,AI Books,Tech Enthusiasts,25-34,579,368,9209.627835,2026.118124,4.789006e+05,105358.142434
10,Oxford,Pearson,General Readers,55+,544,344,15511.833412,2016.538344,8.066153e+05,104859.993864
11,Oxford,AI Books,Tech Enthusiasts,25-34,708,396,9903.202257,2178.704496,5.149665e+05,113292.633817
12,Cambridge,Pearson,General Readers,35-44,1991,1274,57370.251380,7458.132679,2.983253e+06,387822.899326
13,Cambridge,AI Books,Students,16-24,1944,1296,32421.286142,7132.682951,1.685907e+06,370899.513467
14,Bristol,Pearson,General Readers,45-54,2965,1334,60065.313476,7808.490752,3.123396e+06,406041.519096
15,Bristol,AI Books,General Readers,25-34,606,384,9613.328044,2114.932170,4.998931e+05,109976.472826
16,Brighton,Pearson,Students,25-34,1898,789,35527.628051,4618.591647,1.847437e+06,240166.765627
17,Brighton,AI Books,General Readers,45-54,2151,1017,25441.384352,5597.104557,1.322952e+06,291049.436981
18,Nottingham,Pearson,General Readers,35-44,957,472,21260.016306,2763.802120,1.105521e+06,143717.710232
19,Nottingham,AI Books,Professionals,45-54,1989,878,21956.756099,4830.486342,1.141751e+06,251185.289777

In [8]:
df.groupby("Company")[["Weekly_Profit", "Yearly_Profit"]].sum()

          Weekly_Profit  Yearly_Profit
Company
AI Books   47869.360568   2.489207e+06
Pearson    48201.424458   2.506474e+06

In [9]:
df.to_csv("pearson_vs_ai_books_england.csv", index=False)