In [1]:
import pandas as pd
import numpy as np

In [2]:
books_data = {
    "Book": [
        "Neuromancer",
        "Count Zero",
        "Mona Lisa Overdrive",
        "Pattern Recognition",
        "Spook Country",
        "Zero History",
        "The Peripheral",
        "Agency"
    ],

    "Genre": [
        "Cyberpunk",
        "Cyberpunk",
        "Cyberpunk",
        "Sci-Fi",
        "Sci-Fi",
        "Sci-Fi",
        "Sci-Fi",
        "Sci-Fi"
    ],

    "Price (£)": [
        9.99,
        9.99,
        9.99,
        10.99,
        10.99,
        10.99,
        12.99,
        12.99
    ],

    "Cost (£)": [
        5.00,
        5.00,
        5.00,
        6.00,
        6.00,
        6.00,
        7.00,
        7.00
    ],

    "Popularity": [
        0.95,
        0.80,
        0.75,
        0.85,
        0.70,
        0.65,
        0.90,
        0.85
    ]
}

books_df = pd.DataFrame(books_data)

books_df

                  Book      Genre  Price (£)  Cost (£)  Popularity
0          Neuromancer  Cyberpunk       9.99       5.0        0.95
1           Count Zero  Cyberpunk       9.99       5.0        0.80
2  Mona Lisa Overdrive  Cyberpunk       9.99       5.0        0.75
3  Pattern Recognition     Sci-Fi      10.99       6.0        0.85
4        Spook Country     Sci-Fi      10.99       6.0        0.70
5         Zero History     Sci-Fi      10.99       6.0        0.65
6       The Peripheral     Sci-Fi      12.99       7.0        0.90
7               Agency     Sci-Fi      12.99       7.0        0.85

In [3]:
companies_data = {

    "Company": [
        "Waterstones",
        "WHSmith"
    ],

    "Stores": [
        317,
        500
    ],

    "Customers_per_day_per_store": [
        350,
        250
    ],

    "Profit_margin": [
        0.18,
        0.12
    ],

    "Fiction_percent": [
        0.55,
        0.35
    ]
}

companies_df = pd.DataFrame(companies_data)

companies_df

,Company,Stores,Customers_per_day_per_store,Profit_margin,Fiction_percent
0,Waterstones,317,350,0.18,0.55
1,WHSmith,500,250,0.12,0.35

In [4]:
demographics_data = {

    "Age_Group": [
        "18-25",
        "26-35",
        "36-50",
        "51+"
    ],

    "Population_percent": [
        0.28,
        0.32,
        0.25,
        0.15
    ],

    "SciFi_interest": [
        0.70,
        0.65,
        0.50,
        0.30
    ]
}

demographics_df = pd.DataFrame(demographics_data)

demographics_df

  Age_Group  Population_percent  SciFi_interest
0     18-25                0.28            0.70
1     26-35                0.32            0.65
2     36-50                0.25            0.50
3       51+                0.15            0.30

In [5]:
companies_df["Weekly_customers"] = (
    companies_df["Stores"] *
    companies_df["Customers_per_day_per_store"] *
    7
)

companies_df

,Company,Stores,Customers_per_day_per_store,Profit_margin,Fiction_percent,Weekly_customers
0,Waterstones,317,350,0.18,0.55,776650
1,WHSmith,500,250,0.12,0.35,875000

In [6]:
def estimate_buyers(company, popularity):

    buyers = (
        company["Weekly_customers"]
        * company["Fiction_percent"]
        * popularity
        * 0.03
    )

    return int(buyers)

In [7]:
results = []

for _, company in companies_df.iterrows():

    for _, book in books_df.iterrows():

        buyers = estimate_buyers(company, book["Popularity"])

        revenue = buyers * book["Price (£)"]

        cost = buyers * book["Cost (£)"]

        profit = (revenue - cost) * company["Profit_margin"]

        yearly_profit = profit * 52

        results.append({

            "Company": company["Company"],
            "Book": book["Book"],
            "Weekly_buyers": buyers,
            "Weekly_profit (£)": round(profit, 2),
            "Yearly_profit (£)": round(yearly_profit, 2)

        })

results_df = pd.DataFrame(results)

results_df

,Company,Book,Weekly_buyers,Weekly_profit (£),Yearly_profit (£)
0,Waterstones,Neuromancer,12173,10933.79,568557.01
1,Waterstones,Count Zero,10251,9207.45,478787.31
2,Waterstones,Mona Lisa Overdrive,9611,8632.60,448895.21
3,Waterstones,Pattern Recognition,10892,9783.19,508726.11
4,Waterstones,Spook Country,8970,8056.85,418956.41
5,Waterstones,Zero History,8329,7481.11,389017.61
6,Waterstones,The Peripheral,11533,12434.88,646613.79
7,Waterstones,Agency,10892,11743.75,610675.23
8,WHSmith,Neuromancer,8728,5226.33,271768.97
9,WHSmith,Count Zero,7350,4401.18,228861.36
10,WHSmith,Mona Lisa Overdrive,6890,4125.73,214538.06
11,WHSmith,Pattern Recognition,7809,4676.03,243153.52
12,WHSmith,Spook Country,6431,3850.88,200245.91
13,WHSmith,Zero History,5971,3575.43,185922.61
14,WHSmith,The Peripheral,8268,5943.04,309038.00
15,WHSmith,Agency,7809,5613.11,291881.68

In [8]:
summary = results_df.groupby("Company").sum()

summary

,Book,Weekly_buyers,Weekly_profit (£),Yearly_profit (£)
Company,,,,
WHSmith,NeuromancerCount ZeroMona Lisa OverdrivePatter...,59256,37411.73,1945410.11
Waterstones,NeuromancerCount ZeroMona Lisa OverdrivePatter...,82651,78273.62,4070228.68